doctype html
html
  head
    link(rel="stylesheet" href="main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, \
      user-scalable=no, minimal-ui")

    script(src="bower_components/angular/angular.js")
    script(src="app.js")

  body(ng-app="app" ng-controller="main")
    != yield
