header.hitop

  nav.hitop__bar

    .hitop__bar--none
      form.hitop__form.form-inline(role="form")

        .form-group
          input.form-control(type="email" placeholder="Email Address" size="12")

        .form-group
          input.form-control(type="password" placeholder="Password" size="12")

        button.btn.btn-default(type="submit") Login

      .hitop__links
        a.link.md-down(href="#") <i class="fa fa-bars fa-lg"></i> Login
        a.btn.xs-up-ib.btn-gold Join Free

    .hitop__bar--auto
      ul
        li.lg-up: a.link Startseite
        li: a.link New Models
        li.xs-up: a.link Calendário
        li.sm-up: a.link Ondersteuning
        li.md-up: a.link Site Language <i class="fa fa-caret-down"></i>


//-   //- section.hitop__brief

//- //- header.hitop

//- //-   section.hitop__bar(class="{{barType}}")

//- //-     div.hitop__user
//- //-       ul.hitop__menu
//- //-         li.login: a.link <i class="fa fa-bars"></i> Login


//- //-     nav.hitop__nav
//- //-       ul.hitop__menu
//- //-         li: a.link Startseite
//- //-         li: a.link New Models
//- //-         li: a.link Calendário
//- //-         li: a.link Ondersteuning
//- //-         li: a.link Site Language <i class="fa fa-caret-down"></i>



//- header(hitop)
//-   nav
//-   section
//-     left
//-       form
//-         input
//-         button
//-       div
//-         button
//-         select
//-         select
//-         select
//-         select

//-     right
//-       img

